<div class="registration">
  <mat-progress-bar
    class="form-progress-bar"
    mode="determinate"
    [value]="formProgress"
  ></mat-progress-bar>

  <form
    [formGroup]="registrationForm"
    class="reservation-form"
    (ngSubmit)="onRegister()"
  >
    <div>
      <mat-form-field appearance="fill" class="input-element">
        <mat-label class="label">First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="First name" />
        <mat-error
          *ngIf="
            registrationForm.controls['firstName']
              | checkFormValidity : 'required'
          "
          >First name is <strong>required</strong></mat-error
        >
        <mat-error
          *ngIf="
            (registrationForm.controls['firstName']
              | checkFormValidity : 'pattern') &&
            !(
              registrationForm.controls['firstName']
              | checkFormValidity : 'required'
            )
          "
        >
          First name must start with uppercase
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-element">
        <mat-label class="label">Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Last name" />
        <mat-error
          *ngIf="
            registrationForm.controls['lastName']
              | checkFormValidity : 'required'
          "
          >Last name is <strong>required</strong></mat-error
        >
        <mat-error
          *ngIf="
            (registrationForm.controls['lastName']
              | checkFormValidity : 'pattern') &&
            !(
              registrationForm.controls['lastName']
              | checkFormValidity : 'required'
            )
          "
        >
          Last name must start with uppercase
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" class="input-element">
        <mat-label class="label">Enter your email</mat-label>
        <input matInput formControlName="email" placeholder="Email" />
        <mat-error
          *ngIf="
            registrationForm.controls['email'] | checkFormValidity : 'required'
          "
          >Email is <strong>required</strong></mat-error
        >
        <mat-error
          *ngIf="
            (registrationForm.controls['email']
              | checkFormValidity : 'email') &&
            !(
              registrationForm.controls['email']
              | checkFormValidity : 'required'
            )
          "
        >
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-element">
        <mat-label class="label">Country</mat-label>
        <input matInput formControlName="country" placeholder="Country" />
        <mat-error
          *ngIf="
            registrationForm.controls['country']
              | checkFormValidity : 'required'
          "
          >Country is <strong>required</strong></mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" class="input-element">
        <mat-label class="label">Enter your password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          placeholder="Password"
        />
        <mat-error
          *ngIf="
            registrationForm.controls['password']
              | checkFormValidity : 'required'
          "
          >Password is <strong>required</strong></mat-error
        >
        <mat-error
          *ngIf="
            (registrationForm.controls['password']
              | checkFormValidity : 'pattern') &&
            !(
              registrationForm.controls['password']
              | checkFormValidity : 'required'
            )
          "
        >
          Please enter a valid password
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-element">
        <mat-label class="label">Confirm password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          [type]="hide ? 'password' : 'text'"
          placeholder="Confirm password"
        />

        <mat-error
          *ngIf="
            (registrationForm.controls['confirmPassword']
              | checkFormValidity : 'passwordNotMatch') &&
            !(
              registrationForm.controls['password']
              | checkFormValidity : 'required'
            )
          "
        >
          Confirm password does't match with password
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-radio-button">
      <label class="radio-button-label">Gender:</label>
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-radio-button disableRipple="true" class="radio-button" value="male"
          >Male</mat-radio-button
        >
        <mat-radio-button
          disableRipple="true"
          class="radio-button"
          value="female"
          >Female</mat-radio-button
        >
        <mat-radio-button
          disableRipple="true"
          class="radio-button"
          value="other"
          >Other</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <mat-card-actions class="card-action">
      <button
        class="registration-btn"
        type="submit"
        [disabled]="!registrationForm.valid"
      >
        Sign Up
      </button>
    </mat-card-actions>
  </form>
</div>
