<div class="registration">
  <mat-progress-bar
    class="form-progress-bar"
    mode="determinate"
    [value]="formProgress"
  ></mat-progress-bar>

  <form
    [formGroup]="registrationForm"
    class="reservation-form"
    (ngSubmit)="onRegister()"
  >
    <div>
      <mat-form-field appearance="fill" class="input-element">
        <mat-label class="label">Full Name</mat-label>
        <input matInput formControlName="fullName" placeholder="Full name" />
        <app-form-error
          [control]="registrationForm.controls['fullName']"
          [errorMessage]="{
            required: 'Full name is required',
            pattern: 'Full name must start with uppercase'
          }"
        ></app-form-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-element">
        <mat-label class="label">Enter your email</mat-label>
        <input matInput formControlName="email" placeholder="Email" />
        <app-form-error
          [control]="registrationForm.controls['email']"
          [errorMessage]="{
            required: 'Email name is required',
            pattern: 'Please enter a valid email address'
          }"
        ></app-form-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" class="input-element">
        <mat-label class="label">Country</mat-label>
        <input matInput formControlName="country" placeholder="Country" />
        <app-form-error
          [control]="registrationForm.controls['country']"
          [errorMessage]="{ required: 'Country name is required' }"
        ></app-form-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-element">
        <mat-label class="label">Enter your password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          placeholder="Password"
        />
        <app-form-error
          [control]="registrationForm.controls['password']"
          [errorMessage]="{
            required: 'Password name is required',
            pattern: ' Please enter a valid password'
          }"
        ></app-form-error>
      </mat-form-field>
    </div>

    <div class="form-radio-button">
      <label class="radio-button-label">Gender:</label>
      <mat-radio-group aria-label="Select gender" formControlName="gender">
        <mat-radio-button disableRipple="true" class="radio-button" value="male"
          >Male</mat-radio-button
        >
        <mat-radio-button
          disableRipple="true"
          class="radio-button"
          value="female"
          >Female</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <mat-card-actions class="card-action">
      <button class="btn" type="submit" [disabled]="!registrationForm.valid">
        Sign Up
      </button>
    </mat-card-actions>
  </form>
</div>
