.registration {
  .form-progress-bar {
    margin: 0px 10px 15px;
  }

  .reservation-form {
    .input-element {
      margin: 0px 10px 10px;
      width: 250px;
    }

    .label {
      color: #bc4749;
    }
    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: #fff;
      color: #bc4749;
      border-bottom: 2px solid #bc4749;
    }

    .form-radio-button {
      margin: 0px 10px;

      .radio-button-label {
        margin-right: 20px;
        font-weight: 500;
        color: #bc4749;
      }

      .radio-button {
        margin-right: 20px;

        ::ng-deep {
          .mat-radio-outer-circle,
          .mat-radio-inner-circle {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  .card-action {
    display: flex;
    justify-content: center;

    .registration-btn {
      font-size: 20px;
      border: none;
      padding: 8px 25px;
      background-color: #bc4749;
      color: #f2e8cf;
      margin-bottom: 5px;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}
