<app-navigation></app-navigation>
<div *ngIf="isLoading" class="loading-spinner">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="authentication-content" *ngIf="!isLoading">
  <mat-card class="card-content">
    <mat-card-header>
      <mat-card-title class="title">
        {{ isLoginForm ? "Login" : "Registration" }}</mat-card-title
      >
    </mat-card-header>

    <mat-card-content>
      <ng-container *ngIf="isLoginForm">
        <app-login (login)="onLogin($event)"></app-login>
        <p class="switch-link">
          Don't have an account?
          <a (click)="toggleForm()">Sign Up</a>
        </p>
      </ng-container>

      <ng-container *ngIf="!isLoginForm">
        <app-registration
          (registration)="onRegister($event)"
        ></app-registration>
        <p class="switch-link">
          Already have an account?
          <a (click)="toggleForm()">Sign In</a>
        </p>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
<app-footer></app-footer>
