::ng-deep .mat-dialog-container {
  // background-color: #386641;
  // color: #f2e8cf;
}

.form-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-input {
    width: 350px;
    margin: 10px;
  }

  .modal-actions {
    display: flex;
    justify-content: center;
    .modal-btn {
      background-color: #bc4749;
      color: #f2e8cf;
      font-size: 18px;
      padding: 7px 15px;
      border: none;
      border-radius: 3px;
    }
  }
}
