@import "../../../../../assets/styles/variables";

.authentication-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../../../assets/images/background-food.jpg");
  background-size: cover;

  .card-content {
    color: $pink-color;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 20px 30px $shadow-color;

    .title {
      color: $pink-color;
      margin: 10px 0px 20px;
      font-size: 22px;
      text-transform: uppercase;
    }
  }

  .switch-link {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
