@import "../../../../assets/styles/variables";

.navigation {
  background-color: $primary-color;
  height: 85px;
  box-shadow: 0px 10px 20px $card-shadow;
  position: fixed;
  z-index: 100;

  .logo-img {
    margin: 10px 30px;
    width: 330px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .navigation-link {
    color: $pink-color;
    margin: 15px 15px 0px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: $pink-color;
      color: $primary-color;
    }
  }
}
