@import "../../../../assets/styles/variables";

.navigation {
  background-color: $primary-color;
  height: 85px;
  box-shadow: 0px 10px 20px $card-shadow;
  position: fixed;
  z-index: 100;

  .logo-img {
    margin: 10px 30px;
    width: 330px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .navigation-link {
    color: $pink-color;
    margin: 15px 15px 0px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: $pink-color;
      color: $primary-color;
    }
  }
}

@media only screen and (max-width: 360px) {
  .navigation {
    height: 45px;

    .logo-img {
      display: none;
    }

    .navigation-link {
      font-size: 14px;
      margin: 5px 5px 0px;
      padding: 5px 8px;
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 576px) {
  .navigation {
    height: 50px;

    .logo-img {
      margin: 10px;
      width: 120px;
    }

    .navigation-link {
      font-size: 14px;
      margin: 5px 5px 0px;
      padding: 5px 8px;
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .navigation {
    height: 60px;

    .logo-img {
      width: 240px;
    }

    .navigation-link {
      margin: 5px 5px 0px;
      padding: 5px 8px;
    }
  }
}
