<div class="wrapper" *ngIf="recipe$ | async as recipe; else recipeNotFound">
  <mat-card class="recipe-card">
    <mat-card-header class="recipe-card-header">
      <mat-card-title class="recipe-card-title"
        >Recipe Overview - {{ recipe.name }}</mat-card-title
      >
    </mat-card-header>

    <mat-card-content class="recipe-card-content">
      <div>
        <a [href]="recipe.youTubeLink">
          <img class="recipe-img" [src]="recipe.image" [alt]="recipe.name" />
        </a>
      </div>

      <div>
        <p>{{ recipe.description }}</p>
        <app-star-rating [rating]="recipe.stars"></app-star-rating>
        <p>Duration: {{ recipe.duration }}min</p>
        <p>
          Created at:
          {{ recipe.createdDate | date : "EEEE, MMMM d, y, h:mm:ss a" }}
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="recipe-btn-wrapper">
  <button class="back-btn" routerLink="/recipes">Go Back</button>
</div>

<ng-template #recipeNotFound>
  <div class="error-wrapper">
    <mat-icon class="error-icon">warning</mat-icon>
    <p>Recipe is not found!!!</p>
  </div>
</ng-template>
