<div class="wrapper">
  <div class="header">
    <h1 class="header-text">
      The Number <span>#One</span> Choice Your Hunger Solution
    </h1>
    <p class="paragraph-text">
      The number one recipes you are looking for to quench your hunger or just
      want to taste delicious things.
    </p>
    <button class="order-btn">Find recipe</button>
    <div class="main-chef">
      <h4 class="chef-name">Jamie Fieri</h4>
      <h5 class="chef">Chef</h5>
      <p class="chef-paragraph">
        This recipes passed my quality test.There's no doubt about the taste.
        100% recommended.
      </p>
      <img
        src="https://despina22.github.io/Angular-FinalExam-Recipes/assets/images/chef.png"
        alt="chef-img"
        class="chef-img"
      />
      <img
        src="https://despina22.github.io/Angular-FinalExam-Recipes/assets/images/signature.png"
        alt="signature"
        class="signature"
      />
    </div>
  </div>
  <div class="daily-menu">
    <h3 class="daily-menu-header">Daily Special Recipes</h3>
    <p class="daily-menu-paragraph">Today's Choice</p>
    <div class="wrapper-menu">
      <div class="gallery">
        <img
          src="https://despina22.github.io/Angular-FinalExam-Recipes/assets/images/GoodFood.png"
          alt="a dream catcher"
        />
        <img
          src="https://despina22.github.io/Angular-FinalExam-Recipes/assets/images/good1.png"
          alt="a piano"
        />
        <img
          src="https://despina22.github.io/Angular-FinalExam-Recipes/assets/images/good2.png"
          alt="a live concert"
        />
        <img
          src="https://despina22.github.io/Angular-FinalExam-Recipes/assets/images/good3.png"
          alt="Paris"
        />
      </div>
      <button class="explore-btn">Explore Recipe</button>
    </div>
  </div>
</div>
