<div class="form-modal" [ngClass]="isModalForm ? '' : 'edit-form'">
  <h2 class="modal-title">
    {{ isModalForm ? "New Recipe" : "Edit Recipe" }}
  </h2>
  <form
    [formGroup]="recipeForm"
    (ngSubmit)="isModalForm ? onCreate() : onUpdate()"
  >
    <div class="form-modal-content">
      <div>
        <mat-form-field appearance="fill" class="input-element">
          <mat-label class="label">Name</mat-label>
          <input matInput formControlName="name" />
          <app-form-error
            [control]="recipeForm.controls['name']"
            [errorMessage]="{
              required: 'Recipe name is required',
              pattern: 'Recipe name must start with uppercase'
            }"
          ></app-form-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-element">
          <mat-label class="label">Image</mat-label>
          <input matInput formControlName="image" />
          <app-form-error
            [control]="recipeForm.controls['image']"
            [errorMessage]="{
              required: 'Image is required',
              pattern: 'Image should be in standard URL format'
            }"
          ></app-form-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" class="input-element">
          <mat-label class="label">Video Url</mat-label>
          <input matInput formControlName="youTubeLink" />
          <app-form-error
            [control]="recipeForm.controls['youTubeLink']"
            [errorMessage]="{
              required: 'Video Url is required',
              pattern: 'Video url should be in standard URL format'
            }"
          ></app-form-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-element">
          <mat-label class="label">Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <app-form-error
            [control]="recipeForm.controls['description']"
            [errorMessage]="{
              required: 'Description is required'
            }"
          ></app-form-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" class="input-element">
          <mat-label class="label">Duration</mat-label>

          <input matInput formControlName="duration" />
          <app-form-error
            [control]="recipeForm.controls['duration']"
            [errorMessage]="{
              required: 'Duration is required',
              pattern: 'Duration must be a number'
            }"
          ></app-form-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-element">
          <mat-label class="label">Stars</mat-label>
          <input matInput formControlName="stars" />
          <app-form-error
            [control]="recipeForm.controls['stars']"
            [errorMessage]="{
              required: 'Stars is required',
              pattern: 'Stars must be a number'
            }"
          ></app-form-error>
        </mat-form-field>
      </div>
    </div>

    <div class="card-action">
      <button
        *ngIf="isModalForm"
        mat-button
        type="submit"
        class="btn"
        [mat-dialog-close]="closeDialog"
        [disabled]="!recipeForm.valid"
      >
        Create
      </button>

      <button
        *ngIf="!isModalForm"
        mat-button
        type="submit"
        class="btn"
        [disabled]="!recipeForm.valid"
      >
        Update
      </button>
    </div>
  </form>
</div>
<div *ngIf="!isModalForm" class="recipe-btn-wrapper">
  <button class="back-btn" routerLink="/admin">Go Back</button>
</div>
