@import "../../../../../assets/styles/variables";

.table-wrapper {
  width: 90vw;
  margin: 40px auto;

  .table-button-container {
    padding-bottom: 20px;

    .button {
      font-size: 20px;
      padding: 7px 10px;
      background-color: $dark-green-color;
      color: $primary-color;
      border-radius: 3px;
      border: 2px solid $pink-color;

      &:hover {
        background-color: $pink-color;
      }
    }
  }

  .recipe-table {
    width: 100%;
    background-color: $white-color;

    td.recipe-table-item {
      border-bottom: 1px solid $pink-color;
    }

    .recipe-table-item {
      color: $pink-color;

      .icon {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .recipe-table {
    border: 0;
    vertical-align: middle;

    .recipe-table-item {
      .stars {
        display: none;
      }

      .date-created {
        display: none;
      }
    }
  }
}
