@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/go-back-btn";

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include back-btn;

  .error-img {
    max-width: 500px;
    max-height: 500px;
  }
}
