<div class="table-wrapper">
  <div class="table-button-container">
    <button mat-raised-button class="button" (click)="openModal()">Create Recipe</button>
  </div>

  <ng-container *ngIf="dataSource">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 recipe-table"
    >
      <ng-container matColumnDef="rowIndex">
        <th mat-header-cell *matHeaderCellDef class="recipe-header">No.</th>
        <td mat-cell *matCellDef="let recipe" class="recipe-header">
          {{ recipe.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="recipe-header">Name</th>
        <td mat-cell *matCellDef="let recipe" class="recipe-header">
          {{ recipe.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="stars">
        <th mat-header-cell *matHeaderCellDef class="recipe-header">Stars</th>
        <td mat-cell *matCellDef="let recipe" class="recipe-header">
          <app-star-rating [rating]="recipe.stars"></app-star-rating>
        </td>
      </ng-container>

      <ng-container matColumnDef="youtubeLink">
        <th mat-header-cell *matHeaderCellDef class="recipe-header">
          Youtube Link
        </th>
        <td mat-cell *matCellDef="let recipe" class="recipe-header">
          {{ recipe.youTubeLink }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef class="recipe-header">
          Date Created
        </th>
        <td mat-cell *matCellDef="let recipe" class="recipe-header">
          {{ recipe.createdDate | date : "EEEE, MMMM d, y, h:mm:ss a" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="recipe-header">Edit</th>
        <td *matCellDef class="id-container" class="recipe-header">
          <mat-icon>edit</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="recipe-header">Delete</th>
        <td *matCellDef class="id-container" class="recipe-header">
          <mat-icon>delete</mat-icon>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="recipe-header"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="recipe-header"
      ></tr>
    </table>
  </ng-container>
</div>
