<div class="table-wrapper">
  <div class="table-button-container">
    <button mat-raised-button class="button" (click)="openModal()">
      Create Recipe
    </button>
  </div>

  <ng-container *ngIf="dataSource">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 recipe-table"
    >
      <ng-container matColumnDef="rowIndex">
        <th mat-header-cell *matHeaderCellDef class="recipe-table-item">No.</th>
        <td
          mat-cell
          *matCellDef="let recipe; let i = index"
          class="recipe-table-item"
        >
          {{ i + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="recipe-table-item">
          Name
        </th>
        <td
          mat-cell
          *matCellDef="let recipe"
          [matTooltip]="recipe.name"
          class="recipe-table-item"
        >
          {{ recipe.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="stars">
        <th mat-header-cell *matHeaderCellDef class="recipe-table-item">
          Stars
        </th>
        <td mat-cell *matCellDef="let recipe" class="recipe-table-item">
          <app-star-rating [rating]="recipe.stars"></app-star-rating>
        </td>
      </ng-container>

      <ng-container matColumnDef="youTubeLink">
        <th mat-header-cell *matHeaderCellDef class="recipe-table-item">
          Youtube Link
        </th>
        <td mat-cell *matCellDef="let recipe" class="recipe-table-item">
          <a [href]="recipe.youTubeLink">{{ recipe.youTubeLink }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef class="recipe-table-item">
          Date Created
        </th>
        <td mat-cell *matCellDef="let recipe" class="recipe-table-item">
          {{ recipe.createdDate | date : "EEEE, MMMM d, y, h:mm:ss a" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="recipe-table-item">
          Edit
        </th>
        <td mat-cell *matCellDef="let recipe" class="recipe-table-item">
          <mat-icon class="icon" [routerLink]="['recipe', recipe.id, 'edit']"
            >edit</mat-icon
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="recipe-table-item">
          Delete
        </th>
        <td mat-cell *matCellDef="let recipe" class="recipe-table-item">
          <mat-icon class="icon" (click)="deleteRecipe(recipe)"
            >delete</mat-icon
          >
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="recipe-table-item"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="recipe-table-item"
      ></tr>
    </table>
  </ng-container>
</div>
