@import "../../../../../assets/styles/variables";

:host {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .recipe-card {
    max-width: 380px;
    background-color: $primary-color;
    color: $black-color;
    box-shadow: 15px 15px 10px $card-shadow;
    margin-bottom: 20px;

    .recipe-card-header {
      display: flex;
      justify-content: center;
      margin: 10px;
      border-bottom: 2px solid $pink-color;
      cursor: pointer;

      .recipe-card-title {
        height: 28px;
        font-size: 25px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .recipe-img {
      max-width: 350px;
      max-height: 300px;
    }
  }
}
