@import "../../../../assets/styles/variables";

.wrapper {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  padding: 25px 0px;
  border-top: 2px solid $pink-color;

  .footer {
    font-size: 30px;
    color: $dark-green-color;
    font-weight: 500;
    margin: 0px 25px;
  }

  .footer-btn {
    background-color: $dark-green-color;
    color: $primary-color;
    border: 1px solid $pink-color;
    padding: 7px 10px;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
  }
}
