@import "../../../../assets/styles/variables";

.confirm-dialog {
  .dialog-content {
    font-size: 15px;
    margin: 10px 0;
  }

  .dialog-btn {
    font-size: 12px;
    color: $primary-color;
    background-color: $pink-color;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    padding: 6px 18px;
    margin-right: 10px;
  }
}
